#background {
    background-color: rgb(178, 133, 220);
}
#title {
    color: darkslategray;
    text-align: center;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 100px;
}
#board {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#score {
    padding: 0px 50px 20px;
    color: purple;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dice {
    padding: 50px 35px 50px;
    font-size: 50px;
}
#roll {
    display: flex;
    justify-content: center;
}
#rollBtn {
    background-color: slategrey;
    color: greenyellow;
    font-size: 50px;
    margin: 1rem;
    transition: all 0.5s ease;
    transform: scale(1);
}
#rollBtn:hover {
    background-color: rgb(53, 60, 67);
    transform: scale(1.25);
    filter: brightness(120%);
    animation: blinking 1.5s infinite alternate;
}
@keyframes blinking {
    0% {
    color: greenyellow
    }
    100% {
    color: red;
    }
}
#message {
    color: blueviolet;
    padding: 15px;
    text-align: center;
}
#rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}
#rulesTxt {
    box-sizing: border-box;
    margin: 5px 5px;
    color: aqua;
}
.wheatBkgd {
    box-sizing: border-box;
    border-width: 5px;
    border-style: double;
    border-color: black;
    background-color: wheat;
}